<div id="<%= dom_id comment %>">
  <%= image_tag comment.user.gravatar_url(:size => 30) %>
  <%= link_to "#{comment.user.email}", user_path(comment.user) %>
  <p>
    <%= comment.body %>
  </p>

</div>
