<div id="<%= dom_id post %>">
  <p>
    <strong>Author:</strong>
    <%= link_to "#{post.user.email }", user_path(post.user) %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>
  <p>
    <strong>Likes:</strong>
    <%= post.likes.count %>
  </p>

</div>
